/*--------------------------------------------------------------
# case-study-intro
--------------------------------------------------------------*/

.building--block.case-study-intro {
	gap: var(--padding-container);
	
	.FlexibleMedia {
		grid-column: 1 / -1;
		grid-row: 1;
		height: 0;
		padding-top: 56.25%;
		background-color: $grey;
	}

	.details {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		max-width: 700px;
		grid-auto-rows: minmax(min-content, max-content);
		
		@media (min-width: $md) {
			grid-template-columns: auto auto;
		}

		span {
			line-height: 1;
			padding: .8rem 1.4rem 1.4rem 0;
			margin-bottom: 0;
			@include font-sizes(1.6rem, 1.7rem, 1.9rem, 2rem);
			
			@media (max-width: $max-md) {
				&:nth-child(odd) {
					font-size: 1.4rem;
					padding: 1.4rem 1.4rem 0 0;
					border-top: 1px solid $grey;
				}
			}

			@media (min-width: $md) {
				border-top: 1px solid $grey;
				padding: 2rem 4rem 2rem 0;

				&:nth-last-child(2) {
					border-bottom: 1px solid $grey;
				}
			}

			&.details--value {
				color: $lavender;
				@include font-sizes(1.6rem, 1.6rem, 1.7rem, Max(1.1vw,1.8rem));
				line-height: 1.6;
			}

			&:last-child {
				border-bottom: 1px solid $grey;
			}
		}
	}

	.content {
		> *:last-child {
			margin-bottom: 0;
		}
	}
}