$gridColumns: (4, 6, 8);

.grid {
	@each $col in $gridColumns {
		&-#{$col} {
			display: grid;

			grid-template-columns: repeat(#{$col}, 1fr);
		}
	}

	@each $label, $breakpoint in $breakpoints {
		&-#{$label} {
			@media (min-width: #{$breakpoint}) {

				@each $col in $gridColumns {
					&-#{$col} {
						display: grid;
	
						grid-template-columns: repeat(#{$col}, 1fr);
					}
				}

			}
		}
	}
}

$gridColumnLocations: (1,2,3,4,5,6,7,8);

.col {
	@each $col in $gridColumnLocations {
		&-#{$col} {
			grid-column: span #{$col};
		}
	}

	@each $label, $breakpoint in $breakpoints {
		&-#{$label} {
			@media (min-width: #{$breakpoint}) {

				@each $col in $gridColumnLocations {
					&-#{$col} {
						grid-column: span #{$col};
					}
				}

			}
		}
	}
}